nav {
    border-bottom: 1px solid var(--bs-gray);
}

#table-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

#table-wrapper table {
    border-radius: 20px;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    padding: 6px;
    color: white;
    background: #212529;
    border-top: 1px solid var(--bs-gray);
}
